<!-- Style -->
<style>
    table,
    th,
    td {
        padding: 5px;
        border: 1px solid black;
    }
</style>

<!-- Page Heading -->
<h1>Lectures</h1>

<!-- Table printing details from Mongo Database - lectures.json -->


<!-- Home Page -->
<a href="/">Home</a>