<!-- Style -->
<style>
    table,
    th,
    td {
        padding: 5px;
        border: 1px solid black;
    }
</style>

<h1>Students</h1>

<!-- MySQL Database - collegeDB.sql -->
<table>
    <!-- Headings -->
    <tr>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>GPA</th>
    </tr>
<% cities.forEach((city) => { %>
    <!-- Table Rows -->
    <tr>
        <td><%= student.sid %></td>
        <td><%= student.name %></td>
        <td><%= student.gpa %></td>
        
    </tr>
<% }) %>
</table>

<!-- Home Page -->
<a href="/">Home</a>